body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
  }
  
.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 17px;
    min-width: 28.3%;
  }